<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        table, th, td{
            border: solid;
            border-collapse: collapse;
            width:650px;
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: white;
        }

        tr:nth-child(odd) {
            background-color: #dddddd;
        }

        
    </style>
</head>

<body>
    <h1>Books and Authors</h1>

    <table>
        <thead>
            <tr>
                <td>Name</td>
                
                <td>Author</td>
            </tr>
        </thead>
        <tbody>

            {% for itemmm in all_items %}
            <tr>
                <td>{{ itemmm.item_name }}</td>
                
                <td>{{ itemmm.publisher.name }}</td>
            </tr>
            {% endfor %}

        </tbody>

    </table>

    <br>

    <form action="/books/create" method="post">
        {% csrf_token %}
        <h3>Add an item(Book)</h3>
        <p>
            <label for="item_name">Item Name <input type="text" name="item_name"></label>
        </p>
        
        <p>
            <label for="author">Pick an author</label>
            <select name="author">

                {% for author in all_authors %}
                <!-- this list should come from the DB -->
                <option value="{{ author.id }}">{{ author.name }}</option>
                {% endfor %}
            </select>
        </p>

        <button type="submit">Add to Inventory</button>

    </form>

    <form action="/authors/create" method="post">
        {% csrf_token %}
        <h3>Add an author</h3>
        <p>
            <label for="author">author
                <input type="text" name="author">
            </label>
        </p>
        
        <button type="submit">Select an Author</button>
    </form>
    

</body>

</html>